.mainContainer {
  padding-left: 0;
  padding-top: 30px;
  margin-left: 5vw;
  padding-bottom: 50px;
}

.greetingContainer>h1>span {
  font-size: 20px;
}

.cardContainer {
  display: flex;
  margin-top: 20px;
  /* border:1px solid red; */
  width: 530px;
  background-color: rgb(209, 243, 230);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  /* background-color: blueviolet; */
  height: 195px;
  width: 180px;
  border-radius: 5px;
  font-family: 'futura';
  border-radius: 20px;
  box-shadow: 1px 5px 13px 1px rgb(148, 151, 150);
}

.users {
  background-color: rgb(236, 215, 187);
}

.payments {
  background-color: rgb(237, 153, 235);
}

.projects {
  background-color: rgb(85, 210, 173);
}

.card>img {
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}

.card>p {
  font-size: 13px;
  margin-bottom: 5px;
}

.addContainer {
  margin-top: 20px;
  width: 540px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #6c6c6c;
  cursor: pointer;
  margin: 3px;
  padding: 2px;
}

.add:hover {
  background-color: rgb(200, 238, 213);
  border: 1px solid #047e45;
}

.add>a>p {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: bold;
}

.add>a {
  text-decoration: none;
  color: darkslategray;
}

.add>a:hover {
  color: rgb(6, 116, 52);
}

.add>img {
  height: 15px;
  margin-left: 10px;
  width: 15px;
}

.latestActivityContainer {
  margin-top: 20px;
}

.activityCardsContainer {
  width: 550px;
  margin-top: 20px;
  height: 250px;
  /* border:1px solid rgb(85, 210, 173); */
  overflow: auto;
}

.activityCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  background-color: #ddd6d6;
  padding: 0px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.activityCard>h5 {
  color: #076f2b;
}

.activityCard>p {
  font-size: 13px;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #020202;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(2, 2, 2);
}