.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    color: rgba(1, 31, 65, 0.781);
    box-shadow: 1px 20px 15px #585757;
    width: 200px;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #e9e3e3;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }
  
  .sidebarWrapper {
    margin-top: .5rem;
    padding: 10px;
  
  }
  
  .sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
   }
  
  .sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .sidebarListItemText{
    text-decoration: none;
    color: rgba(1, 31, 65, 0.781);

    
  }
  .sidebarListItemText:hover{
    width:200px;
   font-weight: bolder;
 /* text-decoration: underline; */
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(12, 14, 1);
    text-shadow: 1px 12px 3px rgba(34, 33, 33, 0.5);
    /* box-shadow: 5px 25px 13px rgba(0, 0, 0, 0.50); */
  }
  .sidebarIcon {
    margin-right: 15px;
  }
  
  .sidebarButton {
    width: 150px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-weight: 500;
  }
  .react-tel-input .form-control{
    width:95px;
}
  .sidebarHr {
    margin: 20px 0;
  }
  
  .sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  
  