@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");

:root {
    --black: 
  rgba(0, 0, 0, 1);
    --blue-lagoon: 
  rgba(2, 120, 136, 1);
    --cod-gray: 
  rgba(14, 12, 12, 1);
    --licorice: 
  rgba(18, 18, 18, 1);
    --jelly-bean: 
  rgba(33, 136, 151, 1);
    --chicago-2: 
  rgba(90, 88, 88, 0.122);
    --chicago: 
  rgba(92, 92, 92, 1);
    --boulder: 
  rgba(119, 120, 121, 1);
    --mist-gray: 
  rgba(196, 196, 196, 1);
    --gallery: 
  rgba(239, 239, 239, 1);
    --wild-sand: 
  rgba(246, 244, 244, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-xs: 10px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 19px;
    --font-size-xl: 20px;
  
    --font-family-poppins: "Poppins";
  }
  
  
  
  .poppins-semi-bold-white-20px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-cod-gray-16px {
    color: var(--cod-gray);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-normal-white-14px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium-licorice-16px {
    color: var(--licorice);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-normal-chicago-16px {
    color: var(--chicago);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .poppins-normal-black-16px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .poppins-normal-jelly-bean-16px {
    color: var(--jelly-bean);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semi-bold-black-19px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-blue-lagoon-16px {
    color: var(--blue-lagoon);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-normal-boulder-16px {
    color: var(--boulder);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .poppins-normal-black-10px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  .poppins-normal-white-10px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium-white-20px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-16px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
  }


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.user-profile {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1117px;
  overflow: hidden;
  padding: 50px 0;
  width: 1728px;
}

.flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 1750px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 58px;
  margin-right: 9px;
  min-width: 1567px;
}

.logo-arclif-06-1 {
  align-self: flex-end;
  height: 53px;
  object-fit: cover;
  width: 145px;
}

.overlap-group3 {
  height: 55px;
  margin-left: 731px;
  position: relative;
  width: 691px;
}

.group-7 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 691px;
  position: absolute;
  top: 7px;
}

.overlap-group-2 {
  height: 48px;
  margin-left: 53px;
  position: relative;
  width: 220px;
}

.rectangle-6 {
  background-color: var(--white);
  border-radius: 11px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 172px;
}

.group-2 {
  align-items: center;
  display: flex;
  height: 24px;
  left: 16px;
  min-width: 204px;
  position: absolute;
  top: 12px;
}

.vector {
  height: 20px;
  width: 20px;
}

.plan-design-details {
  letter-spacing: 0;
  margin-left: 14px;
  min-height: 24px;
  min-width: 168px;
}

.group-5 {
  align-items: center;
  background-color: var(--white);
  border-radius: 11px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 49px;
  min-width: 160px;
  padding: 0 21px;
}

.vector-1 {
  height: 24px;
  width: 31px;
}

.your-cart {
  letter-spacing: 0;
  margin-left: 10px;
  min-height: 24px;
  min-width: 76px;
}

.ellipse-7 {
  background-color: var(--mist-gray);
  border-radius: 7.5px;
  height: 15px;
  left: 564px;
  position: absolute;
  top: 0;
  width: 15px;
}

.number {
  left: 570px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.rectangle-8 {
  background-color: var(--mist-gray);
  height: 2px;
  margin-top: 40px;
  width: 1750px;
}

.flex-row-1 {
  align-items: center;
  display: flex;
  height: 685px;
  margin-left: 87px;
  margin-top: 51px;
  min-width: 1344px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 685px;
  width: 378px;
}

.plan-details {
  letter-spacing: 0;
  min-height: 29px;
}

.rectangle-1 {
  background-color: var(--wild-sand);
  height: 2px;
  margin-top: 17px;
  width: 259px;
}

.overlap-group6 {
  align-items: flex-start;
  background-color: var(--gallery);
  border-radius: 11px;
  display: flex;
  height: 68px;
  margin-top: 51px;
  min-width: 378px;
  padding: 21px 23px;
}

.design-plan,
.f0,
.f3,
.f1,
.f4,
.bath-rooms,
.f2 {
  letter-spacing: 0;
  min-height: 24px;
}

.view-details-about-plan {
  letter-spacing: 0;
  margin-top: 28px;
  min-height: 24px;
}

.additional {
  letter-spacing: 0;
  margin-top: 93px;
  min-height: 29px;
}

.no-of-bedroom {
  letter-spacing: 0;
  margin-left: 8px;
  margin-top: 44px;
  min-height: 24px;
}

.overlap-group {
  align-items: flex-start;
  background-color: var(--gallery);
  border-radius: 11px;
  display: flex;
  height: 68px;
  margin-top: 24px;
  min-width: 378px;
  padding: 21px 23px;
}

.no-of-bedroom-1 {
  letter-spacing: 0;
  margin-left: 8px;
  margin-top: 47px;
  min-height: 24px;
}

.overlap-group-1 {
  align-items: flex-start;
  background-color: var(--gallery);
  border-radius: 11px;
  display: flex;
  height: 68px;
  margin-top: 26px;
  min-width: 378px;
  padding: 21px 23px;
}

.flex-col-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 112px;
  min-height: 281px;
  width: 378px;
}

.space {
  letter-spacing: 0;
  margin-left: 4px;
  min-height: 24px;
}

.no-of-bedroom-2 {
  letter-spacing: 0;
  margin-left: 4px;
  margin-top: 47px;
  min-height: 24px;
}

.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 98px;
  margin-top: 239px;
  min-height: 116px;
  width: 378px;
}

.group-6 {
  align-items: center;
  background-color: var(--white);
  border-radius: 11px;
  display: flex;
  height: 48px;
  min-width: 209px;
  padding: 0 19px;
}

.vector-2 {
  height: 28px;
  width: 28px;
}

.personal-details {
  letter-spacing: 0;
  margin-left: 14px;
  min-height: 24px;
  min-width: 129px;
}